html,
body {
  height: 100%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

nav {
  height: 5%;
}

main {
  height: 95%;
}

/* login ******************************************************************* */

section#login {
  height: 100%;
}

/* plan ******************************************************************** */

section#plan {
  height: 100%;

  table thead th {
    vertical-align: middle;
  }

  table tr.expense {
    td.amount {
      width: 75px;

      input {
        text-align: right;
      }
    }
  }
}

/* checklist *************************************************************** */

section#checklist {
  .alert {
    font-size: 125%;
  }
}