<section id="login" class="card visually-hidden border-0">
  <h2 class="card-header bg-dark text-white h5 visually-hidden">Login / Register</h2>
  <div class="card-body d-flex flex-column justify-content-center">
    <input type="text" class="form-control mb-3" placeholder="Username" aria-label="Username">
    <input type="password" class="form-control mb-3" placeholder="Password" aria-label="Password">
    <div class="d-grid">
      <button class="btn btn-dark" type="button">Login / Register</button>
    </div>
  </div>
</section>