<section id="plan" class="card visually-hidden border-0">
  <h2 class="card-header bg-dark text-white h5 visually-hidden">Salary</h2>
  <div class="card-body p-0 d-flex flex-column">
    <div class="input-group mt-2">
      <label for="pay_amount" class="input-group-text">Pay Amount</label>
      <input id="pay_amount" type="number" step="0.01" class="form-control">
    </div>

    <div class="d-grid d-flex justify-content-end mt-4">

    </div>

    <table class="table caption-top mb-0">
      <!--caption>List of expenses</caption-->
      <thead>
        <tr>
          <th class="amount">Amount</th>
          <th class="description">Description</th>
          <th>
            <button id="add_expense" class="btn btn-sm btn-dark float-end">Add Step</button>
          </th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>

    <div class="mt-auto d-grid mb-2">
      <button id="create_plan" class="btn btn-dark">Plan</button>
    </div>
  </div>
</section>